<template name="landing">

  <h1 class="branding">{{_ "title"}}</h1>

  <p>

  <div class="text-center">
    <a class="button-centered btn btn-lg btn-primary  btn-center" href="/{{newRoom}}">{{_ "landing_btn-enter"}}</a>
  </div>
  </p>
  <p class="intro">
    The planning poker game started as a learning project during the <a href="http://www.panter.ch">Panter Klassenlager
    2015</a> in <a href="https://www.google.gr/maps/@37.0349536,22.1133041,14z">Kalamata</a>. The
    main purpose of this project was to get in touch with meteor.
  </p>
</template>