.visible {
    display: auto;
}
.invisible {
    display: none;
}
.card {
    background-color: #CFCFCF;
    border: 1px solid #000;
    border-radius: 6px;
    height: 200px;
    width: 140px;
}
.content {
    background: linear-gradient( 55deg, transparent 50%, #FFF 50%, transparent 51%),
    linear-gradient( -55deg, transparent 50%, #FFF 50%, transparent 51%);
    margin: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 70%;
}
.value {
    background-color: #CFCFCF;
    border-radius: 100%;
    color: #FFF;
    padding: 25px;
    font-size: 22px;
    font-weight: bold;
    margin: auto;
    z-index: 2;
}

.vertical-list li {
    list-style-type: none;
    float: left;
    margin: 5px;
    cursor: pointer;
}
.active {
    background: gray;
}
