body {
	margin: 0;
	font-family: "Asap";
    background: url('/img/background.jpg') top center no-repeat
}
h2 {
  font-size: 40px;
  padding: 15px 0;
  text-align: center;
  color: #FFF;
}
.container {
   	width: 1000px;
	margin: 0 auto;
}
.visible {
    display: auto;
}
.invisible {
    display: none;
}
.header {
  color: #FFF;
  background-color: #F00;
  height: 50px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
}
.card {
    position: relative;
    transition:0.3s;
    height: 200px;
    width: 140px;
    transform-style: preserve-3d;
    border: 1px solid #000;
    border-radius: 6px;
    box-shadow:  5px 5px 5px #888888;
    background-color: white;
}
.card figure {
    display: block;
    position: absolute;
    height: 100%; 
    width: 100%;
}
.card figure, .card figure > * {
    
    backface-visibility: hidden;
}
.card figure.front {
}
.card figure.back {
    transform: rotateY(180deg);
    color: blue;
}
.card.active {
    transform: rotateY(180deg);
}
li.card.active > figure.front {
    visibility: hidden;
}
.card:hover{
    transform:scale(1.1);
}
.content {
    background: linear-gradient( 55deg, transparent 50%, #888 50%, transparent 51%),
    linear-gradient( -55deg, transparent 50%, #888 50%, transparent 51%);
    margin: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 70%;
}
.deck{
  text-align: center;
}
.value {
    background-color: #FFF;
    border-radius: 100%;
    color: #888;
    padding: 25px;
    font-size: 22px;
    font-weight: bold;
    margin: auto;
    z-index: 2;
}
.vertical-list {
  padding: 0;
  display: inline-block;
}
.vertical-list li {
    list-style-type: none;
    float: left;
    margin: 10px;
    cursor: pointer;
}
.active .content {
    background: linear-gradient( 55deg, transparent 50%, #F00 50%, transparent 51%),
    linear-gradient( -55deg, transparent 50%, #F00 50%, transparent 51%), #FFF;
}
.active .value, .active.card {
    color: #F00;
    background: #FFF;
}

.login-panel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    float: none;
}

.landing{
    margin-top: 100px;
}

.btn-primary{
    background-color: #f00;
    border-color: #c00;
}

.btn-primary:hover{
    background-color: #b00;
    border-color: #c00;
}
