<template name="play">
  {{> vote}}
  {{> players}}
  {{> results}}
</template>


<template name="results">
  <div style="clear: left;">
    <h1>results</h1>

    <div class="{{displayResults}}">
      <ul>
          {{#each votes}}
            <li>{{username}} : {{points}}</li>
          {{/each}}
      </ul>
    </div>
  </div>
</template>
<template name="vote">
  <div class="header">
    {{currentUser}}
  </div>
  <div class="deck">
    <ul class="vertical-list">
      {{#each fibonaccis}}
      {{> card}}
      {{/each}}
    </ul>
  </div>
</template>
<template name="card">
  <li class="card {{#if isSelected}}active{{/if}}">
    <div class="content">
      <div class="value">{{value}}</div>
    </div>
  </li>
</template>
<template name="players">
  <div class="deck">
    <ul class="vertical-list">
      {{#each players}}
      {{> player}}
      {{/each}}
    </ul>
  </div>
</template>
<template name="player">
  <li class="card {{#if isChosen}}active{{/if}}">
    <div class="content">
      <div class="value">{{username}}</div>
    </div>
  </li>
</template>
