<template name="join">

  <h1 class="branding">{{_ "title"}}</h1>

  <div class="login-panel col-xs-12 col-sm-6">
    <div class="panel-body">
      <form id="login" class="text-center">
        <div class="form-group">
          <input id="username" class="form-control input-lg input-lger" required maxlength="4" type="text" placeholder="{{_ "join_plc-username"}}"/>
        </div>
        <input type="submit" value="{{_ "join_btn-submit"}}" class="btn btn-lg btn-primary btn-center"/>
      </form>
    </div>
  </div>
</template>